<div class="form-wrapper">
  <h1>Hours chart</h1>

  <form >
    <div class="form-item">
      <label>Choose project</label>
      <select (change)="changeProject($event)">
        <option *ngFor="let project of projects" [ngValue]="project.projectId">{{project.projectName}}</option>
      </select>
    </div>

  </form>
</div>
 <div *ngIf="barChartLabels.length>0">
    <div style="display: block">
      <canvas baseChart 
              [datasets]="barChartData"
              [labels]="barChartLabels"
              [options]="barChartOptions"
              [legend]="barChartLegend"
              [chartType]="barChartType"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)">
       </canvas>
    </div>
  </div>
   
